/pipeline/Data/H_sapiens/matrix/
/!pipeline/Data/H_sapiens/matrix/Anat_0.2.npz
pyproject.toml
.idea
__pycache__/
*.pyc
.DS_Store
/pipeline/Outputs
pyproject.toml
pipeline/scripts/
pipeline/__pycache__/
app/__pycache__/
.idea/
app/static/
peanut.tar
.vscode/
