/pipeline/Data/H_sapiens/matrix/
pyproject.toml
.idea
__pycache__/
*.pyc
.DS_Store
/pipeline/Outputs
pyproject.toml
pipeline/scripts/
pipeline/__pycache__/
app/__pycache__/
pipeline/Inputs/
.idea/
/home/yair/projects/Yair_propagation/pipeline/Inputs/
app/static/
peanut.tar
